.wrapper {
  text-align: center;
  background-color: #42233a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.time {
  margin-top: 50px;
  font-size: 60px;
  padding: 2rem;
  display: flex;
}

.timer-row {
  height: 40px;
  margin-top: 50px;
  background-color: aliceblue;
  align-self: left;
  align-self: end;
}

.button {
  width: 200px;
  height: 50px;
  margin: 30px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  color: #42233a;
  border-style: groove;
  border: none;
}

.button:hover {
  background-color: rgb(245, 225, 200);
  /* border: 1px solid #1b1f2b; */
}
.button:focus {
  background-color: rgb(221, 204, 182);
}
